﻿@model Viesbutis.Models.RezervacijaPosisteme.RezervacijosLaikas

@{
    ViewBag.Title = "Ištrinti";
}

<h2>Delete</h2>

<h3>Ar tikrai norite ištrinti šį įrašą?</h3>
<div>
    <h4>RezervacijosLaikas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt> Kambario ID </dt>
        <dd> @Html.DisplayFor(model => model.kambarysID) </dd>
        <dt> Rezervuota nuo</dt>
        <dd> @Html.DisplayFor(model => model.rezervuota_nuo) </dd>
        <dt> Rezervuota iki</dt>
        <dd> @Html.DisplayFor(model => model.rezervuota_iki) </dd>
        <dt> Laikas užimtas </dt>
        <dd> @Html.DisplayFor(model => model.uzimta) </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ištrinti" class="btn btn-default" /> |
            @Html.ActionLink("Sugrįžti į sąrašą", "Index")
        </div>
    }
</div>