﻿@model Viesbutis.Models.RezervacijaPosisteme.RezervacijosLaikas

@{
    ViewBag.Title = "Informacija";
}

<h2>Details</h2>

<div>
    <h4>Rezervacijos laikas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt> Kambario ID </dt>
        <dd> @Html.DisplayFor(model => model.kambarysID) </dd>
        <dt> Rezervuota nuo</dt>
        <dd> @Html.DisplayFor(model => model.rezervuota_nuo) </dd>
        <dt> Rezervuota iki</dt>
        <dd> @Html.DisplayFor(model => model.rezervuota_iki) </dd>
        <dt> Laikas užimtas </dt>
        <dd> @Html.DisplayFor(model => model.uzimta) </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Redaguoti", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Grįžti į rezervacijų laikų sąrašą", "Index")
</p>