﻿@model Viesbutis.Models.RezervacijaPosisteme.RezervacijosLaikas

@{
    ViewBag.Title = "Redaguoti";
}

<h2>Redaguoti rezervacijos laiko informaciją</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Rezervacijos laikas</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.kambarysID, "Kambario ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kambarysID)
                @Html.ValidationMessageFor(model => model.kambarysID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rezervuota_nuo, "Rezervuota nuo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.rezervuota_nuo)
                @Html.ValidationMessageFor(model => model.rezervuota_nuo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rezervuota_iki, "Rezervuota iki", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.rezervuota_iki)
                @Html.ValidationMessageFor(model => model.rezervuota_iki)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.uzimta, "Laikas užimtas", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.uzimta)
                @Html.ValidationMessageFor(model => model.uzimta)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Išsaugoti" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Grįžti į rezervacijų laikų sąrašą", "Index")
</div>