﻿@model Viesbutis.Models.KlientasPosisteme.ViewModels.GrupeViewModel

@{
    ViewBag.Title = "Informacija";
}

<h2>Kliento grupės informacija</h2>

<div>
    <h4>Kliento grupė</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pavadinimas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pavadinimas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nuolaida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nuolaida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aprasymas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.aprasymas)
        </dd>
    </dl>
</div>

<div>
    @Html.ActionLink("Grįžti į kliento grupių sąrašą", "Index")
</div>