﻿@model Viesbutis.Models.KlientasPosisteme.ViewModels.BankasViewModel

@{
    ViewBag.Title = "Naujas";
}

<h2>Kurti naują banką</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Bankas</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.pavadinimas, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.pavadinimas, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pavadinimas)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kodas, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.kodas, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.kodas)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.adresas, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.adresas, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.adresas)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kurti" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Grįžti į bankų sąrašą", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}