﻿@model Viesbutis.Models.RezervacijaPosisteme.Paslauga

@{
    ViewBag.Title = "Nauja";
}

<h2>Kurti naują paslaugą</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Paslauga</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.pavadinimas, "Pavadinimas" , htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pavadinimas)
                @Html.ValidationMessageFor(model => model.pavadinimas)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aprasymas, "Aprašymas", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.aprasymas)
                @Html.ValidationMessageFor(model => model.aprasymas)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kaina, "Kaina" , htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kaina)
                @Html.ValidationMessageFor(model => model.kaina)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kurti" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Grįžti į paslaugų sąrašą", "Index")
</div>
