﻿@model Viesbutis.Models.RezervacijaPosisteme.Paslauga

@{
    ViewBag.Title = "Ištrinti";
}

<h2>Ištrinti</h2>

<h3>Ar tikrai norite ištrinti šį įrašą?</h3>
<div>
    <h4>Paslauga</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt> Pavadinimas </dt>
        <dd> @Html.DisplayFor(model => model.pavadinimas) </dd>
        <dt> Aprasymas </dt>
        <dd> @Html.DisplayFor(model => model.aprasymas) </dd>
        <dt> Kaina </dt>
        <dd> @Html.DisplayFor(model => model.kaina) </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ištrinti" class="btn btn-default" /> |
            @Html.ActionLink("Sugrįžti į sąrašą", "Index")
        </div>
    }
</div>
