﻿@model IEnumerable<Viesbutis.Models.RezervacijaPosisteme.Paslauga>

@{
    ViewBag.Title = "Paslaugos";
}

<h2>Paslaugos</h2>

<p>
    <input type="button" class="btn btn-default" value="Nauja" onclick="@("window.location.href='" + @Url.Action("Create", "Paslaugas") + "'");" />
</p>
<table class="table">
    <tr>
        <th> Pavadinimas </th>
        <th> Aprašymas </th>
        <th> Kaina </th>
        <th class="center"> Informacija </th>
        <th class="center"> Redaguoti </th>
        <th class="center"> Ištrinti </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pavadinimas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aprasymas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kaina)
        </td>
        <td class="center">
            <a href="@Url.Action("Details", new { id = item.ID })">
                <i class="glyphicon glyphicon-info-sign"></i>
            </a>
        </td>
        <td class="center">
            <a href="@Url.Action("Edit", new { id = item.ID })">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
        </td>
        <td class="center">
            <a href="@Url.Action("Delete", new { id = item.ID })">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </td>
    </tr>
}

</table>
