﻿@model Viesbutis.Models.RezervacijaPosisteme.PaslaugosTarpine

@{
    ViewBag.Title = "Ištrinti";
}

<h2>Ištrinti</h2>

<h3>Ar tikrai norite ištrinti šį įrašą?</h3>
<div>
    <h4>Rezervacijos paslauga</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt> Paslauga </dt>
        <dd> @Html.DisplayFor(model => model.Paslauga.pavadinimas) </dd>
        <dt> Rezervacijos ID </dt>
        <dd> @Html.DisplayFor(model => model.Rezervacija.ID) </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ištrinti" class="btn btn-default" /> |
            @Html.ActionLink("Sugrįžti į sąrašą", "Index")
        </div>
    }
</div>
