﻿@model Viesbutis.Models.RezervacijaPosisteme.PaslaugosTarpine

@{
    ViewBag.Title = "Informacija";
}

<h2>Informacija apie rezervacijos paslaugą</h2>

<div>
    <h4>Rezervacijos paslauga</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt> Paslauga </dt>
        <dd> @Html.DisplayFor(model => model.Paslauga.pavadinimas) </dd>
        <dt> Rezervacijos ID </dt>
        <dd> @Html.DisplayFor(model => model.Rezervacija.ID) </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Redaguoti", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Grįžti į rezervacijų sąrašą", "Index")
</p>
