﻿@model IEnumerable<Viesbutis.Models.KambarysPosisteme.KambarioTipas>

@{
    ViewBag.Title = "Kambarių tipai";
}

<h2>Kambarių tipai</h2>

<p>
    @Html.ActionLink("Sukurti naują kambario tipą", "Create")
</p>
<table class="table">
    <tr>
        <th>
            
            @Html.DisplayNameFor(model => model.trumpinys)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pavadinimas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aprasymas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.trumpinys)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pavadinimas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aprasymas)
        </td>
        <td>
            @Html.ActionLink("Redaguoti", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Ištinti", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
