﻿@model IEnumerable<Viesbutis.Models.KambarysPosisteme.Patogumas>

@{
    ViewBag.Title = "Patogumai";
}

<h2>Patogumai</h2>

<p>
    @Html.ActionLink("Sukurti naują patogumą", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pavadinimas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pavadinimas)
        </td>
        <td>
            @Html.ActionLink("Redaguoti", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Ištrinti", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
