﻿@model Viesbutis.Models.MokejimasPosisteme.MokejimoTipas

@{
    ViewBag.Title = "Informacija";
}

<h2>Informacija</h2>

<div>
    <h4>Mokėjimo tipas</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pavadinimas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pavadinimas)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Redaguoti", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Grįžti į mokėjimų tipų sąrašą", "Index")
</p>
