﻿@model IEnumerable<Viesbutis.Models.MokejimasPosisteme.MokejimoTipas>

@{
    ViewBag.Title = "Index";
}

<h2>Mokėjimo tipas</h2>

<p>
    @Html.ActionLink("Sukurti naują mokėjimo tipą", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pavadinimas)
        </th>

        <th class="center">
            Informacija
        </th>
        <th class="center">
            Redaguoti
        </th>
        <th class="center">
            Ištrinti
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pavadinimas)
        </td>
        <td class="center">
            <a href="@Url.Action("Details", new { id = item.ID })">
                <i class="glyphicon glyphicon-info-sign"></i>
            </a>
        </td>
        <td class="center">
            <a href="@Url.Action("Edit", new { id = item.ID })">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
        </td>
        <td class="center">
            <a href="@Url.Action("Delete", new { id = item.ID })">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </td>
    </tr>
}

</table>
