﻿@model Viesbutis.Models.RezervacijaPosisteme.PaslaugosTarpine

@{
    ViewBag.Title = "Redaguoti";
}

<h2>Redaguoti rezervacijos paslaugos informaciją</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Rezervacijos paslauga</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.rezervacijaID, "Rezervacijos ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("rezervacijaID", String.Empty)
                @Html.ValidationMessageFor(model => model.rezervacijaID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.paslaugaID, "Paslaugos ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("paslaugaID", String.Empty)
                @Html.ValidationMessageFor(model => model.paslaugaID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Išsaugoti" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Grįžti į rezervacijų paslaugų sąrašą", "Index")
</div>
