﻿@model Viesbutis.Models.KambarysPosisteme.Ivertinimas

@{
    ViewBag.Title = "Naujas";
}

<h2>Kurti naują įvertinimą</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Įvertinimas</h4>
        <p class="error">@ViewBag.ErrorMessage</p>
        <hr />
        @Html.ValidationSummary(true)
        <input type="hidden" value="@ViewBag.kambarysID" name="kambarysID">

        @*<div class="form-group">
            @Html.LabelFor(model => model.kambarysID, "Kambarys", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("kambarysID", String.Empty)
                @Html.ValidationMessageFor(model => model.kambarysID)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.vertinimas, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vertinimas)
                @Html.ValidationMessageFor(model => model.vertinimas)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.komentaras, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.komentaras)
                @Html.ValidationMessageFor(model => model.komentaras)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Išsaugoti" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Sugrįžti į sąrašą", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
