﻿@model Viesbutis.Models.KlientasPosisteme.ViewModels.MiestasViewModel

@{
    ViewBag.Title = "Informacija";
}

<h2>Miesto informacija</h2>

<div>
    <h4>Miestas</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pavadinimas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pavadinimas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kodas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.kodas)
        </dd>
    </dl>
</div>

<div>
    @Html.ActionLink("Grįžti į miestų sąrašą", "Index")
</div>