﻿@model Viesbutis.Models.MokejimasPosisteme.Mokejimas

@{
    ViewBag.Title = "Sukurti naują mokėjimą";
}

<h2>Kurti naują apmokėjimą</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Mokėjimas</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.klientas, "Klientas", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.klientas)
                @Html.ValidationMessageFor(model => model.klientas)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mokejimotipasID, "Mokėjimas", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("mokejimotipasID", (SelectList)ViewBag.MokejimoTipai, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.mokejimotipasID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mokejimovaliutaID, "Valiuta", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("mokejimovaliutaID", (SelectList)ViewBag.MokejimoValiutos, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.mokejimovaliutaID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mokejimo_data, "Mokėjimo data", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mokejimo_data)
                @Html.ValidationMessageFor(model => model.mokejimo_data)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mokejimo_suma, "Mokėjimo suma",new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mokejimo_suma)
                @Html.ValidationMessageFor(model => model.mokejimo_suma)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mokejimo_busena, "Apmokėta", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mokejimo_busena)
                @Html.ValidationMessageFor(model => model.mokejimo_busena)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kas_aptarnavo, "Kas aptarnavo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kas_aptarnavo)
                @Html.ValidationMessageFor(model => model.kas_aptarnavo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sukurti" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Grįžti į mokėjimų sąrašą", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
