﻿@model Viesbutis.Models.MokejimasPosisteme.Mokejimas

@{
    ViewBag.Title = "Ištrinti";
}

<h2>Ištrinti</h2>

<h3>Ar tikrai norite ištrinti šį įrašą?</h3>
<div>
    <h4>Mokėjimas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.klientas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.klientas)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.MokejimoTipas.pavadinimas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MokejimoTipas.pavadinimas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MokejimoValiuta.pavadinimas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MokejimoValiuta.pavadinimas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mokejimo_data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mokejimo_data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mokejimo_suma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mokejimo_suma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mokejimo_busena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mokejimo_busena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kas_aptarnavo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kas_aptarnavo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ištrinti" class="btn btn-default" /> |
            @Html.ActionLink("Grįžti į mokėjimų sąrašą", "Index")
        </div>
    }
</div>
