﻿@model Viesbutis.Models.MokejimasPosisteme.Mokejimas

@{
    ViewBag.Title = "Redaguoti";
}

<h2>Redaguoti</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Mokėjimas</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.klientas, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.klientas)
                @Html.ValidationMessageFor(model => model.klientas)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mokejimotipasID, "Mokėti", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("mokejimotipasID", (SelectList)ViewBag.MokejimoTipai, new { @class = "form-control" } /*String.Empty*/)
                @*Html.ValidationMessageFor(model => model.mokejimotipasID)*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mokejimovaliutaID, "Valiuta", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("mokejimovaliutaID", (SelectList)ViewBag.MokejimoValiutos, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.mokejimovaliutaID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mokejimo_data, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mokejimo_data)
                @Html.ValidationMessageFor(model => model.mokejimo_data)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mokejimo_suma, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mokejimo_suma)
                @Html.ValidationMessageFor(model => model.mokejimo_suma)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mokejimo_busena, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mokejimo_busena)
                @Html.ValidationMessageFor(model => model.mokejimo_busena)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kas_aptarnavo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kas_aptarnavo)
                @Html.ValidationMessageFor(model => model.kas_aptarnavo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Išsaugoti" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Grįžti į mokėjimo sąrašą", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
