﻿@model IEnumerable<Viesbutis.Models.MokejimasPosisteme.Ataskaita>

@{
    Layout = "";
    ViewBag.Title = "Mokejimai";
}

<style>
    th{
        text-align: left;
    }
</style>

<h2>Mokėjimų ataskaita</h2>
<hr />

<table class="table">
    <tr>
        <th>
            Nr.
        </th>
        <th>
            Klientas
        </th>
        <th>
            Data
        </th>
        <th>
            Suma
        </th>
        <th>
            Valiuta
        </th>
        <th>
            Mokėjimo tipas
        </th>
        <th>
            Mokėjimo būsena
        </th>
        <th>
            Aptarnavo
        </th>
    </tr>

    @{
        int i = 1;
    }

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Raw(string.Format("{0}.", i++))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.klientas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mokejimo_data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mokejimo_suma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mokejimo_valiuta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mokejimo_tipas)
            </td>
            <td>
                @if (item.mokejimo_busena) 
                {
                    @Html.Raw("apmokėta")
                }
                else 
                {
                    @Html.Raw("neapmokėta")
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kas_aptarnavo)
            </td>
        </tr>
    }
</table>

