﻿@model Viesbutis.Models.MokejimasPosisteme.Ataskaita

@{
    Layout = "";
    ViewBag.Title = "Mokėjimo ataskaita";
}

<style>
    dt{
        font-weight: bold;
    }
</style>

<h2>Mokėjimo ataskaita</h2>

<div>
    <h4>Mokėjimas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.klientas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.klientas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mokejimo_data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mokejimo_data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mokejimo_suma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mokejimo_suma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mokejimo_valiuta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mokejimo_valiuta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mokejimo_tipas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mokejimo_tipas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mokejimo_busena)
        </dt>

        <dd>
            @if (Model.mokejimo_busena) 
            {
                @Html.Raw("apmokėta")
            }
            else 
            {
                @Html.Raw("neapmokėta")
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kas_aptarnavo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kas_aptarnavo)
        </dd>

    </dl>
</div>

