﻿@model IEnumerable<Viesbutis.Models.MokejimasPosisteme.Mokejimas>

@{
    ViewBag.Title = "Index";
}

<h2>Mokėjimas</h2>

@*<p>
    @Html.ActionLink("Sukurti naują mokėjimą", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            Klientas
        </th>
        <th>
            Mokėjimo tipas
        </th>
        <th>
            Valiuta
        </th>
        <th>
            Data
        </th>
        <th>
            Suma
        </th>
        <th>
            Mokėjimo būsena
        </th>
        <th>
            Aptarnavo
        </th>

        <th class="center">
            Informacija
        </th>
        <th class="center">
            Redaguoti
        </th>
        <th class="center">
            Ištrinti
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.klientas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MokejimoTipas.pavadinimas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MokejimoValiuta.pavadinimas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mokejimo_data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mokejimo_suma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mokejimo_busena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kas_aptarnavo)
        </td>

        <td class="center">
            <a href="@Url.Action("Details", new { id = item.ID })">
                <i class="glyphicon glyphicon-info-sign"></i>
            </a>
        </td>
        <td class="center">
            <a href="@Url.Action("Edit", new { id = item.ID })">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
        </td>
        <td class="center">
            <a href="@Url.Action("Delete", new { id = item.ID })">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </td>
    </tr>
}

</table>

<p>
    <a href="@Url.Action("DownloadActionAsPDF3", "Mokejimas")" target="_blank">Generuoti visų mokėjimų ataskaitą</a>
</p>
