﻿@model Viesbutis.Models.RezervacijaPosisteme.Rezervacija

@{
    ViewBag.Title = "Informacija";
}

<h2>Informacija apie rezervaciją</h2>

<div>
    <h4>Rezervacija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt> Kambario aukštas ir numeris  </dt>
        <dd> @Html.DisplayFor(model => model.Kambarys.aukstas) / @Html.DisplayFor(model => model.Kambarys.numeris) </dd>
        <dt> Klientas </dt>
        <dd> @Html.DisplayFor(model => model.Klientas.vardas) @Html.DisplayFor(model => model.Klientas.pavarde) </dd>
        <dt> Rezervuota nuo </dt>
        <dd> @Html.DisplayFor(model => model.RezervacijosLaikas.rezervuota_nuo) </dd>
        <dt> Rezervuota iki </dt>
        <dd> @Html.DisplayFor(model => model.RezervacijosLaikas.rezervuota_iki) </dd>
        <dt> Rezervacija patvirtinta </dt>
        <dd> @Html.DisplayFor(model => model.patvirtinta) </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Redaguoti", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Grįžti į rezervacijų sąrašą", "Index")
</p>
