﻿@model IEnumerable<Viesbutis.Models.RezervacijaPosisteme.Rezervacija>

@{
    ViewBag.Title = "Rezervacijos";
}

<h2>Rezervacijos</h2>

@* UZKOMENTAVAU, NES REZERVUOJAMA BUS TIK IS KAMBARIU PUSLAPIO PASPAUDUS PRIE NORIMO KAMBARIO REZERVUOTI
        <p>
        <input type="button" class="btn btn-default" value="Nauja" onclick="@("window.location.href='" + @Url.Action("Create", "Rezervacija") + "'");" />
    </p>*@

<table class="table">
    <tr>
        <th> Kambario aukštas / numeris </th>
        <th> Klientas </th>
        <th> Kambarys rezervuotas nuo </th>
        <th> Kambarys rezervuotas iki </th>
        <th> Rezervacija patvirtinta </th>
        <th class="center"> Informacija </th>
        <th class="center"> Redaguoti </th>
        <th class="center"> Ištrinti </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.Kambarys.aukstas) / @Html.DisplayFor(modelItem => item.Kambarys.numeris) </td>
            <td> @Html.DisplayFor(modelItem => item.Klientas.vardas) @Html.DisplayFor(modelItem => item.Klientas.pavarde) </td>
            <td> @Html.DisplayFor(modelItem => item.RezervacijosLaikas.rezervuota_nuo) </td>
            <td> @Html.DisplayFor(modelItem => item.RezervacijosLaikas.rezervuota_iki) </td>
            <td> @Html.DisplayFor(modelItem => item.patvirtinta) </td>
            <td class="center">
                <a href="@Url.Action("Details", new { id = item.ID })">
                    <i class="glyphicon glyphicon-info-sign"></i>
                </a>
            </td>
            <td class="center">
                <a href="@Url.Action("Edit", new { id = item.ID })">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </td>
            <td class="center">
                <a href="@Url.Action("Delete", new { id = item.ID })">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </td>
        </tr>
    }

</table>