﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ultimate</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .error{
            color: red;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ultimate Hotel", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Apie mus", "About", "Home")</li>
                    @if (this.User.IsInRole("Administratorius") || this.User.IsInRole("Buhalteris") || this.User.IsInRole("Klientas"))
                    {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Meniu<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @if (this.User.IsInRole("Administratorius"))
                            {
                                <li>@Html.ActionLink("Apgyvendinimo tipai", "Index", "ApgyvendinimoTipas")</li>
                                <li>@Html.ActionLink("Bankai", "Index", "Bankas")</li>
                                <li>@Html.ActionLink("Grupės", "Index", "Grupe")</li>
                                <li>@Html.ActionLink("Įvertinimai", "Index", "Ivertinimas")</li>
                                <li>@Html.ActionLink("Kambario tipai", "Index", "KambarioTipas")</li>
                                <li>@Html.ActionLink("Kambariai", "Index", "Kambarys")</li>
                                <li>@Html.ActionLink("Klientai", "Index", "Klientas")</li>
                                <li>@Html.ActionLink("Miestai", "Index", "Miestas")</li>
                                <li>@Html.ActionLink("Patogumai", "Index", "Patogumas")</li>
                                <li>@Html.ActionLink("Kambarių patogumai", "Index", "PatogumaiTarpine")</li>
                                <li>@Html.ActionLink("Rezervacijos", "Index", "Rezervacija")</li>
                                <li>@Html.ActionLink("Rezervacijos laikai", "Index", "RezervacijosLaikas")</li>
                            }
                            @if (this.User.IsInRole("Buhalteris"))
                            {
                                <li>@Html.ActionLink("Mokėjimai", "Index", "Mokejimas")</li>
                                <li>@Html.ActionLink("Mokėjimo tipai", "Index", "MokejimoTipas")</li>
                                <li>@Html.ActionLink("Mokėjimo valiutos", "Index", "MokejimoValiuta")</li>
                                <li>@Html.ActionLink("Rezervacijos", "Index", "Rezervacija")</li>
                            }
                            @if (this.User.IsInRole("Klientas"))
                            {
                                <li>@Html.ActionLink("Įvertinimai", "Index", "Ivertinimas")</li>
                                <li>@Html.ActionLink("Kambariai", "Index", "Kambarys")</li>
                                <li>@Html.ActionLink("Rezervacijos", "Index", "Rezervacija")</li>
                            }
                        </ul>
                    </li>
                }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ultimate Hotel</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

