﻿@{
    ViewBag.Title = "Apie mus";
}

<h2><strong>@ViewBag.Title</strong></h2>
<p>
    <strong>Ultimate Hotel</strong> - tai daugiau nei 10 metų sėkmingai veikiantis viešbučių tinklas.<br />
    Norėdami išlikti kompetetingi rinkoje, nuo šiol esame pasiekiami ir internetinėje erdvėje.<br />
    Tikimės dar didesnio klientų srauto naudojantis itin paprasta viešbučių kambarių rezervavimo sistema.<br />
    <br />
    <strong>Šiuo metu siūlome  tokias paslaugas:</strong>
    <ul>
        <li>N-viečių kambarių (su/be paslaugų) nuoma</li>
        <li>Pokylių salių nuoma</li>
    </ul>
</p>

<hr />

<h3><strong>Kontaktai</strong></h3>
<p>
    <strong>Bendra informacija</strong><br />
    Juškaitė Indrė<br />
    Tel. nr. 86#######<br />
    El. p. indre.juskaite@ultimatehotel.com<br />
    <br />
    <strong>Puslapio administravimas</strong><br />
    Barkauskaitė Laura<br />
    Tel. nr. 86#######<br />
    El. p. laura.barkauskaite@ultimatehotel.com<br />
</p>
