﻿@{
    ViewBag.Title = "Pradinis";
}

<br />

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/images/doublebed.jpg" alt="First slide" style="width:100%; height: 500px;">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Romantiška naktis.</h1>
                    <p>Nepraleiskite progos palepinti savo antrąją pusę nepriekaištingos kokybės dviviečiame kambaryje.</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/beds.jpg" alt="Second slide" style="width:100%; height: 500px;">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Studento kišenei.</h1>
                    <p>Daugiaviečiai kambariai už prieinamą kainą. Puikus pasiūlymas studentams ar nepasiturintiems žmonėms.</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/hall.jpg" alt="Third slide" style="width:100%; height: 500px;">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Pokylių salių nuoma.</h1>
                    <p>Sukurkite nepamirštamą šventę savo artimiesiems.</p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->