﻿@model Viesbutis.Models.KlientasPosisteme.Klientas

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Klientas</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.miestasID, "miestasID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("miestasID", String.Empty)
                @Html.ValidationMessageFor(model => model.miestasID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.grupeID, "grupeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("grupeID", String.Empty)
                @Html.ValidationMessageFor(model => model.grupeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bankasID, "bankasID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("bankasID", String.Empty)
                @Html.ValidationMessageFor(model => model.bankasID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vardas, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vardas)
                @Html.ValidationMessageFor(model => model.vardas)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pavarde, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pavarde)
                @Html.ValidationMessageFor(model => model.pavarde)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lytis, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lytis)
                @Html.ValidationMessageFor(model => model.lytis)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.el_pastas, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.el_pastas)
                @Html.ValidationMessageFor(model => model.el_pastas)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.korteles_nr, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.korteles_nr)
                @Html.ValidationMessageFor(model => model.korteles_nr)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.telefono_nr, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.telefono_nr)
                @Html.ValidationMessageFor(model => model.telefono_nr)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
