﻿@model Viesbutis.Models.KlientasPosisteme.ViewModels.EditUserViewModel

@{
    ViewBag.Title = "Redaguoti";
}

<h2>Keisti vartotojo grupę</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Vartotojo grupė</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.GrupeID, "Vartotojo grupė", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GrupeID", (SelectList)ViewBag.GrupesID, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Išsaugoti" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Grįžti į vartotjo informaciją", "Details", new { id = Model.ID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
