﻿@model Viesbutis.Models.EditUserDetailsViewModel
@{
    ViewBag.Title = "Mano informacijos keitimas";
}

<h2>Mano informacijos keitimas</h2>

@using (Html.BeginForm("ChangeUserDetails", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Mano informacija</h4>
    <hr />
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(m => m.vardas, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.vardas, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.vardas)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.pavarde, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.pavarde, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.pavarde)
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Lytis", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("lytis", (SelectList)ViewBag.Lytys, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MiestasID, "Miestas", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MiestasID", (SelectList)ViewBag.MiestaiID, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.telefono_nr, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.telefono_nr, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.telefono_nr)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.el_pastas, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.el_pastas, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.el_pastas)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BankasID, "Bankas", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("BankasID", (SelectList)ViewBag.BankaiID, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.korteles_nr, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.korteles_nr, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.korteles_nr)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Patvirtinti" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Grįžti į mano informaciją", "UserDetails")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


