﻿@model Viesbutis.Models.KlientasPosisteme.ViewModels.KlientasViewModel

@{
    ViewBag.Title = "Mano informacija";
}

<h2>Mano informacija</h2>

<div>
    <h4>Vartotojas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vardas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.vardas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pavarde)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pavarde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lytis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.lytis)
        </dd>

        <dt>
            @Html.Raw("Miestas")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Miestas.pavadinimas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono_nr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.telefono_nr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.el_pastas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.el_pastas)
        </dd>

        <dt>
            @Html.Raw("Bankas")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bankas.pavadinimas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.korteles_nr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.korteles_nr)
        </dd>

        <dt>
            @Html.Raw("Vartotojo grupė")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grupe.pavadinimas)
        </dd>
    </dl>
</div>

<div>
    @Html.ActionLink("Redaguoti mano informaciją", "ChangeUserDetails") |
    @Html.ActionLink("Keisti slaptažodį", "ChangePassword")
</div>