﻿@model Viesbutis.Models.KlientasPosisteme.Klientas

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Klientas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bankas.pavadinimas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bankas.pavadinimas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grupe.pavadinimas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grupe.pavadinimas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miestas.pavadinimas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miestas.pavadinimas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vardas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vardas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pavarde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pavarde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lytis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lytis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.el_pastas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.el_pastas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.korteles_nr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.korteles_nr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono_nr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono_nr)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
