﻿@model IEnumerable<Viesbutis.Models.KlientasPosisteme.Klientas>

@{
    ViewBag.Title = "Vartotojai";
}

<style>
    .center {
        text-align: center;
    }
</style>

<h1>Vartotojai</h1>

<table class="table table-hover">
    <tr>
        <th class="col-md-1">
            Nr.
        </th>
        <th class="col-md-3">
            Vardas
        </th>
        <th class="col-md-7">
            Pavardė
        </th>
        <th class="center">
            Informacija
        </th>
    </tr>

    @{
        int rowNumber = 1;
    }

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @string.Format("{0}.", rowNumber++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vardas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pavarde)
            </td>
            <td class="center">
                <a href="@Url.Action("Details", new { id = item.ID })">
                    <i class="glyphicon glyphicon-info-sign"></i>
                </a>
            </td>
        </tr>
    }
</table>