﻿@model IEnumerable<Viesbutis.Models.KambarysPosisteme.ApgyvendinimoTipas>

@{
    ViewBag.Title = "Apgyvendinimo tipas";
}

<h2>Apgyvendinimo tipai</h2>

<p>
    @Html.ActionLink("Sukurti naują apgyvendinimo tipą", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pavadinimas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aprasymas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pavadinimas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aprasymas)
        </td>
        <td>
            @Html.ActionLink("Redaguoti", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Ištrinti", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
