﻿@model Viesbutis.Models.KambarysPosisteme.PatogumaiTarpine

@{
    ViewBag.Title = "Naujas";
}

<h2>Kurti naują įrašą</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Kambario patogumai</h4>
        <p class="error">@ViewBag.ErrorMessage</p>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.kambarysID, "Kambarys", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("kambarysID", String.Empty)
                @Html.ValidationMessageFor(model => model.kambarysID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.patogumasID, "Patogumas", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("patogumasID", String.Empty)
                @Html.ValidationMessageFor(model => model.patogumasID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kurti" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Grįžti į sąrašą", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
