﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ultimate</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .error{
            color: red;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ultimate Hotel", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Apie mus", "About", "Home")</li>
                    @*<li>@Html.ActionLink("Klientas", "Index", "Klientas")</li>
                    <li>@Html.ActionLink("Mokejimas", "Index", "Mokejimas")</li>
                    <li>@Html.ActionLink("Rezervacija", "Index", "Rezervacija")</li>
                    <li>@Html.ActionLink("Kambarys", "Index", "Kambarys")</li>*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kas padaryta<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Kambarys", "Index", "Kambarys")</li>
                            <li>@Html.ActionLink("Kambario tipas", "Index", "KambarioTipas")</li>
                            <li>@Html.ActionLink("Apgyvendinimo tipas", "Index", "ApgyvendinimoTipas")</li>
                            <li>@Html.ActionLink("Patogumas", "Index", "Patogumas")</li>
                            <li>@Html.ActionLink("Rezervacija", "Index", "Rezervacija")</li>
                            <li>@Html.ActionLink("Miestas", "Index", "Miestas")</li>
                            <li>@Html.ActionLink("Bankas", "Index", "Bankas")</li>
                            <li>@Html.ActionLink("Grupė", "Index", "Grupe")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ultimate Hotel</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

