﻿@model Viesbutis.Models.KlientasPosisteme.ViewModels.BankasViewModel

@{
    ViewBag.Title = "Ištrinti";
}

<h2>Ar tikrai norite ištrinti šį banką?</h2>

<div>
    <h4>Bankas</h4>
    <p class="error">@ViewBag.ErrorMessage</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pavadinimas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pavadinimas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kodas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.kodas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adresas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.adresas)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ištrinti" class="btn btn-default" /> |
            @Html.ActionLink("Grįžti į bankų sąrašą", "Index")
        </div>
    }
</div>