﻿@model IEnumerable<Viesbutis.Models.KlientasPosisteme.Bankas>

@{
    ViewBag.Title = "Bankai";
}

<style>
    .center {
        text-align: center;
    }
</style>

<h1>Bankai</h1>

<p>
    <input type="button" class="btn btn-default" value="Naujas" onclick="@("window.location.href='" + @Url.Action("Create", "Bankas") + "'");" />
</p>

<table class="table table-hover">
    <tr>
        <th class="col-md-1">
            Nr.
        </th>
        <th class="col-md-8">
            Pavadinimas
        </th>
        <th class="center">
            Informacija
        </th>
        <th class="center">
            Redaguoti
        </th>
        <th class="center">
            Ištrinti
        </th>
    </tr>

    @{
        int rowNumber = 1;
    }

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @string.Format("{0}.", rowNumber++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pavadinimas)
            </td>
            <td class="center">
                <a href="@Url.Action("Details", new { id = item.ID })">
                    <i class="glyphicon glyphicon-info-sign"></i>
                </a>
            </td>
            <td class="center">
                <a href="@Url.Action("Edit", new { id = item.ID })">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </td>
            <td class="center">
                <a href="@Url.Action("Delete", new { id = item.ID })">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </td>
        </tr>
    }
</table>