﻿@model Viesbutis.Models.RezervacijaPosisteme.Paslauga

@{
    ViewBag.Title = "Informacija";
}

<h2>Informacija apie paslaugą</h2>

<div>
    <h4>Paslauga</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt> Pavadinimas </dt>
        <dd> @Html.DisplayFor(model => model.pavadinimas) </dd>
        <dt> Aprasymas </dt>
        <dd> @Html.DisplayFor(model => model.aprasymas) </dd>
        <dt> Kaina </dt>
        <dd> @Html.DisplayFor(model => model.kaina) </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Redaguoti", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Grįžti į rezervacijų sąrašą", "Index")
</p>
