﻿@model Viesbutis.Models.KambarysPosisteme.Kambarys

@{
    ViewBag.Title = "Ištrinti";
}

<h2>Ištrinti</h2>

<h3>Ar tikrai norite ištrinti šį įrašą?</h3>
<div>
    <h4>Kambarys</h4>
    <p class="error">@ViewBag.ErrorMessage</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApgyvendinimoTipas.pavadinimas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApgyvendinimoTipas.pavadinimas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KambarioTipas.trumpinys)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KambarioTipas.trumpinys)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeris)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeris)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aukstas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aukstas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plotas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plotas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kaina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kaina)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ištrinti" class="btn btn-default" /> |
            @Html.ActionLink("Sugrįžti į sąrašą", "Index")
        </div>
    }
</div>












