﻿@model Viesbutis.Models.KambarysPosisteme.Kambarys

@{
    ViewBag.Title = "Informacija";
}

<h2>Informacija apie kambarį</h2>

<div>
    <h4>Kambarys</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApgyvendinimoTipas.pavadinimas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApgyvendinimoTipas.pavadinimas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KambarioTipas.trumpinys)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KambarioTipas.trumpinys)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeris)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeris)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aukstas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aukstas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plotas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plotas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kaina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kaina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patogumai)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Kambario patogumai</th>
                </tr>
                @foreach (var item in Model.Patogumai)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Patogumas.pavadinimas)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Redaguoti", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Grįžti į kambarių sąrašą", "Index")
</p>
