﻿@model Viesbutis.Models.KambarysPosisteme.Kambarys

@{
    ViewBag.Title = "Redaguoti";
}

<h2>Redaguoti kambario informaciją</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Kambarys</h4>
        <p class="error">@ViewBag.ErrorMessage</p>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.apgyvendinimoTipasID, "Apgyvendinimo tipas", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("apgyvendinimoTipasID", String.Empty)
                @Html.ValidationMessageFor(model => model.apgyvendinimoTipasID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kambarioTipasID, "Kambario tipas", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("kambarioTipasID", String.Empty)
                @Html.ValidationMessageFor(model => model.kambarioTipasID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.numeris, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.TextBoxFor(model => model.numeris, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.numeris)*@
                @Html.EditorFor(model => model.numeris)
                @Html.ValidationMessageFor(model => model.numeris)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aukstas, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.TextBoxFor(model => model.aukstas, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.aukstas)*@
                @Html.EditorFor(model => model.aukstas)
                @Html.ValidationMessageFor(model => model.aukstas)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.plotas, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.TextBoxFor(model => model.plotas, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.plotas)*@
                @Html.EditorFor(model => model.plotas)
                @Html.ValidationMessageFor(model => model.plotas)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kaina, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.TextBoxFor(model => model.kaina, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.kaina)*@
                @Html.EditorFor(model => model.kaina)
                @Html.ValidationMessageFor(model => model.kaina)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Išsaugoti" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Grįžti į kambarių sąrašą", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
