﻿@model IEnumerable<Viesbutis.Models.KambarysPosisteme.Kambarys>

@{
    ViewBag.Title = "Kambariai";
}
<style>
    .center {
        text-align: center;
    }
</style>

<h1>Kambariai</h1>

<p>
    <input type="button" class="btn btn-default" value="Naujas" onclick="@("window.location.href='" + @Url.Action("Create", "Kambarys") + "'");" />
</p>
<table class="table table-hover">
    <tr>
        <th class="col-md-3">
            Numeris
        </th>
        <th class="col-md-3">
            Paveikslėlis
        </th>
        <th class="col-md-3">
            Apgyvendinimo tipas
        </th>
        <th class="col-md-3">
            Kambario tipas
        </th>
        <th class="col-md-3">
            Kaina
        </th>
        <th class="center">
           Informacija 
        </th>
        @if (this.User.IsInRole("Administratorius"))  
        {<th class="center">
            Redaguoti
        </th>
        }
        @if (this.User.IsInRole("Administratorius")) { 
        <th class="center">
            Ištrinti
        </th>
        }
        @if (this.User.IsInRole("Klientas")) { 
        <th class="center">
            Rezervuoti
        </th>
        }
        @if (this.User.IsInRole("Klientas")){
        <th class="center">
            Įvertinti
        </th>
        }
    </tr>

    @foreach (var item in Model)
    {
        string picturename = "~/Content/images/" + item.numeris.ToString()+".jpg"; 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numeris)/@Html.DisplayFor(modelItem => item.ID)
            </td>
            <td> 
                <img src="@Url.Content(String.Format(picturename))" style=" width:100%; height:100px;">
            </td>               
            <td>
                @Html.DisplayFor(modelItem => item.ApgyvendinimoTipas.pavadinimas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KambarioTipas.trumpinys)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kaina)
            </td>
            <td class="center">
                <a href="@Url.Action("Details", new { id = item.ID })">
                    <i class="glyphicon glyphicon-info-sign"></i>
                </a>
            </td>
            @if(this.User.IsInRole("Administratorius"))
            {
            <td class="center">
                <a href="@Url.Action("Edit", new { id = item.ID })">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </td>
            }
            @if(this.User.IsInRole("Administratorius"))
            {               
            <td class="center">
                <a href="@Url.Action("Delete", new { id = item.ID })">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </td>
            }
            @if(this.User.IsInRole("Klientas"))
            {
            <td class="center">
                @Html.ActionLink("Rezervuoti", "Create", "Rezervacija", new { id = item.ID }, new { })
            </td>
            }
            @if (this.User.IsInRole("Klientas"))
            {
                <td class="center">
                    @Html.ActionLink("Įvertinti", "Create", "Ivertinimas", new { id = item.ID }, new { })
                </td>
            }
        </tr>
    }
</table>

