﻿@model Viesbutis.Models.MokejimasPosisteme.Mokejimas

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Mokejimas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MokejimoTipas.pavadinimas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MokejimoTipas.pavadinimas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MokejimoValiuta.pavadinimas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MokejimoValiuta.pavadinimas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mokejimo_data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mokejimo_data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mokejimo_suma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mokejimo_suma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mokejimo_busena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mokejimo_busena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kas_aptarnavo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kas_aptarnavo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
