﻿@model Viesbutis.Models.MokejimasPosisteme.Mokejimas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mokejimas</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MokejimoTipas.pavadinimas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MokejimoTipas.pavadinimas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MokejimoValiuta.pavadinimas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MokejimoValiuta.pavadinimas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mokejimo_data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mokejimo_data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mokejimo_suma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mokejimo_suma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mokejimo_busena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mokejimo_busena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kas_aptarnavo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kas_aptarnavo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
