﻿@model IEnumerable<Viesbutis.Models.MokejimasPosisteme.Mokejimas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MokejimoTipas.pavadinimas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MokejimoValiuta.pavadinimas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mokejimo_data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mokejimo_suma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mokejimo_busena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kas_aptarnavo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MokejimoTipas.pavadinimas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MokejimoValiuta.pavadinimas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mokejimo_data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mokejimo_suma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mokejimo_busena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kas_aptarnavo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
