﻿@model Viesbutis.Models.RezervacijaPosisteme.Rezervacija

@{
    ViewBag.Title = "Nauja";
}

<h2>Kurti naują rezervaciją</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Rezervacija</h4>
        <hr />
        @Html.ValidationSummary(true)

        @* GAUNAMI KAMBARIO ID IR KLIENTO ID *@
        <input type="hidden" value="@ViewBag.kambarysID" name="kambarysID">
        <input type="hidden" value="@ViewBag.klientasID" name="klientasID">
        @*<input type="hidden" value="@ViewBag.mokejimasID" name="mokejimasID">*@
        <input type="hidden" value="false" name="patvirtinta">

        @*  UZKOMENTAVAU, NES AUTOMATISKAI PERDUODA
            <div class="form-group">
            @Html.LabelFor(model => model.klientasID, "Kliento ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("klientasID", String.Empty)
                @Html.ValidationMessageFor(model => model.klientasID)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.mokejimasID, "Mokėjimo ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("mokejimasID", String.Empty)
                @Html.ValidationMessageFor(model => model.mokejimasID)
            </div>
        </div>*@

        @* UZKOMENTAVAU NES AUTOMATISKAI PERDUODA
            <div class="form-group">
            @Html.LabelFor(model => model.kambarysID, "Kambario ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("kambarysID", String.Empty)
                @Html.ValidationMessageFor(model => model.kambarysID)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.rezervacijoslaikasID, "Rezervacijos laikas nuo - iki", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("rezervacijoslaikasID", String.Empty)
                @Html.ValidationMessageFor(model => model.rezervacijoslaikasID)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.patvirtinta, "Rezervacija patvirtinta" , new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.patvirtinta)
                @Html.ValidationMessageFor(model => model.patvirtinta)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kurti" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Grįžti į rezervacijų sąrašą", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
