﻿@model Viesbutis.Models.RezervacijaPosisteme.Rezervacija

@{
    ViewBag.Title = "Ištrinti";
}

<h2>Ištrinti</h2>

<h3>Ar tikrai norite ištrinti šį įrašą?</h3>
<div>
    <h4>Rezervacija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt> Kambario aukštas ir numeris  </dt>
        <dd> @Html.DisplayFor(model => model.Kambarys.aukstas) / @Html.DisplayFor(model => model.Kambarys.numeris) </dd>
        <dt> Klientas </dt>
        <dd> @Html.DisplayFor(model => model.Klientas.vardas) @Html.DisplayFor(model => model.Klientas.pavarde) </dd>
        <dt> Rezervuota nuo </dt>
        <dd> @Html.DisplayFor(model => model.RezervacijosLaikas.rezervuota_nuo) </dd>
        <dt> Rezervuota iki </dt>
        <dd> @Html.DisplayFor(model => model.RezervacijosLaikas.rezervuota_iki) </dd>
        <dt> Rezervacija patvirtinta </dt>
        <dd> @Html.DisplayFor(model => model.patvirtinta) </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ištrinti" class="btn btn-default" /> |
            @Html.ActionLink("Sugrįžti į sąrašą", "Index")
        </div>
    }
</div>
