﻿@model Viesbutis.Models.RezervacijaPosisteme.Rezervacija

@{
    ViewBag.Title = "Redaguoti";
}

<h2>Rezervacijos patvirtinimas</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Rezervacija</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID) 

        @*<div class="form-group">
            @Html.LabelFor(model => model.klientasID, "Kliento ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("klientasID", String.Empty)
                @Html.ValidationMessageFor(model => model.klientasID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mokejimasID, "Mokėjimo ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("mokejimasID", String.Empty)
                @Html.ValidationMessageFor(model => model.mokejimasID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kambarysID, "Kambario ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("kambarysID", String.Empty)
                @Html.ValidationMessageFor(model => model.kambarysID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rezervacijoslaikasID, "Rezervacijos laikas nuo - iki", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("rezervacijoslaikasID", String.Empty)
                @Html.ValidationMessageFor(model => model.rezervacijoslaikasID)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.patvirtinta,"Rezervacija patvirtinta" , new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.patvirtinta)
                @Html.ValidationMessageFor(model => model.patvirtinta)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Išsaugoti" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Grįžti į rezervacijų sąrašą", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
