﻿@model IEnumerable<Viesbutis.Models.RezervacijaPosisteme.Rezervacija>

@{
    ViewBag.Title = "Rezervacijos";
}

<h2>Rezervacijos</h2>

@* UZKOMENTAVAU, NES REZERVUOJAMA BUS TIK IS KAMBARIU PUSLAPIO PASPAUDUS PRIE NORIMO KAMBARIO REZERVUOTI
    <p>
    <input type="button" class="btn btn-default" value="Nauja" onclick="@("window.location.href='" + @Url.Action("Create", "Rezervacija") + "'");" />
</p>*@

<table class="table">
    <tr>
        <th> Kambario aukštas / numeris </th>
        <th> Klientas </th>
        <th> Kambarys rezervuotas nuo </th>
        <th> Kambarys rezervuotas iki </th>
        <th> Rezervacija patvirtinta </th>
        <th class="center"> Informacija </th>
    @if (this.User.IsInRole("Administratorius")) {
        <th class="center"> Ištrinti </th>
         <th class="center"> Patvirtinti </th>
    }
        @if (this.User.IsInRole("Klientas"))
        {
            <th class="center"> Atšaukti </th>}                                    
    </tr>

@foreach (var item in Model) {
    <tr>      
        <td> @Html.DisplayFor(modelItem => item.Kambarys.aukstas) / @Html.DisplayFor(modelItem => item.Kambarys.numeris) </td>
        <td> @Html.DisplayFor(modelItem => item.Klientas.vardas) @Html.DisplayFor(modelItem => item.Klientas.pavarde) </td>
        <td> @Html.DisplayFor(modelItem => item.RezervacijosLaikas.rezervuota_nuo) </td>
        <td> @Html.DisplayFor(modelItem => item.RezervacijosLaikas.rezervuota_iki) </td>
        <td> @Html.DisplayFor(modelItem => item.patvirtinta) </td>
        <td class="center"> 
            <a href="@Url.Action("Details", new { id = item.ID })">
                <i class="glyphicon glyphicon-info-sign"></i>
            </a>
        </td>
    @if (this.User.IsInRole("Administratorius")) {
        <td class="center">
            <a href="@Url.Action("Delete", new { id = item.ID })">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </td>
                <td class="center">
            <a href="@Url.Action("Edit", new { id = item.ID })">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
        </td>
    }
    @if (this.User.IsInRole("Klientas") && (item.patvirtinta == true || item.RezervacijosLaikas.rezervuota_nuo.Date <= DateTime.Now)) { 
    <td class="center">
            <a href="@Url.Action("Delete", new { id = item.ID })">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </td>
    }
    else if (this.User.IsInRole("Klientas"))
    {
            <td class="center">
               Atšaukti nebegalima
        </td>   
    }
    </tr>
}

</table>

@if (this.User.IsInRole("Klientas")) {
    <p>
        <a href="@Url.Action("DownloadActionAsPDF2", "Mokejimas")" target="_blank">Generuoti mokėjimų ataskaitą</a>
    </p>
}