﻿@model IEnumerable<Viesbutis.Models.KambarysPosisteme.Ivertinimas>

@{
    ViewBag.Title = "Kambarių įvertinimai";
}

<style>
    .center {
        text-align: center;
    }
</style>
<h1>Kambarių įvertinimai</h1>

@*@if (this.User.IsInRole("Klientas")) {
<p>
    <input type="button" class="btn btn-default" value="Naujas" onclick="@("window.location.href='" + @Url.Action("Create", "Ivertinimas") + "'");" />
</p>
}*@
<table class="table table-hover">
    <tr>
        <th class="col-md-3">
            Kambarys
        </th>
        <th class="col-md-3">
            Įvertinimas
        </th>
        <th class="col-md-3">
            Komentaras
        </th>
        @if (this.User.IsInRole("Administratorius")) {
        <th class="center">
            Ištrinti
        </th>
        }
    </tr> 

    @foreach (var item in Model)
    {
        string picturename = "~/Content/images/" + item.vertinimas.ToString() + "star.jpg"; 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kambarys.numeris)
            </td>
            <td>
                <img src="@Url.Content(String.Format(picturename))" style=" width:20%; height:50px;">
            </td>  
            @*<td>
                @Html.DisplayFor(modelItem => item.vertinimas)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.komentaras)
            </td>
            @if (this.User.IsInRole("Administratorius")) {
            <td class="center">
                <a href="@Url.Action("Delete", new { id = item.ID })">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </td>
            }
        </tr>
    }

</table>
