﻿@model Viesbutis.Models.MokejimasPosisteme.MokejimoValiuta

@{
    ViewBag.Title = "Ištrinti";
}

<h2>Ištrinti</h2>

<h3>Ar tikrai norite ištrinti šį įrašą?</h3>
<div>
    <h4>Mokejimo valiuta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pavadinimas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pavadinimas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.kursas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kursas)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ištrinti" class="btn btn-default" /> |
            @Html.ActionLink("Grįžti į mokėjimo valiutų sąrašą", "Index")
        </div>
    }
</div>
