﻿@model Viesbutis.Models.MokejimasPosisteme.MokejimoValiuta

@{
    ViewBag.Title = "Išsamiau";
}

<h2>Išsamiau</h2>

<div>
    <h4>Mokėjimo valiuta</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pavadinimas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pavadinimas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.kursas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kursas)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Redaguoti", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Grįžti į mokėjimo valiutų sąrašą", "Index")
</p>
