﻿@model Viesbutis.Models.KambarysPosisteme.PatogumaiTarpine

@{
    ViewBag.Title = "Ištrinti";
}

<h2>Ištrinti</h2>

<h3>Ar tikrai norite ištrinti šį įrašą?</h3>
<div>
    <h4>Kambarių patogumai</h4>
    <p class="error">@ViewBag.ErrorMessage</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kambarys.numeris)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kambarys.numeris)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patogumas.pavadinimas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patogumas.pavadinimas)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ištirnti" class="btn btn-default" /> |
            @Html.ActionLink("Sugrįžti į sąrašą", "Index")
        </div>
    }
</div>
