﻿@model IEnumerable<Viesbutis.Models.KambarysPosisteme.PatogumaiTarpine>

@{
    ViewBag.Title = "Kambarių patogumai";
}

<style>
    .center {
        text-align: center;
    }
</style>
<h1>Kambarių patogumai</h1>

<p>
    <input type="button" class="btn btn-default" value="Naujas" onclick="@("window.location.href='" + @Url.Action("Create", "PatogumaiTarpine") + "'");" />
</p>
    <table class="table table-hover">
        <tr>
            <th class="col-md-3">
                Kambarys
            </th>
            <th class="col-md-3">
                Patogumas
            </th>
            <th class="center">
                Redaguoti
            </th>
            <th class="center">
                Ištrinti
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Kambarys.numeris)
                </td>>
                <td>
                    @Html.DisplayFor(modelItem => item.Patogumas.pavadinimas)
                </td>
                <td class="center">
                    <a href="@Url.Action("Edit", new { id = item.ID })">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </td>
                <td class="center">
                    <a href="@Url.Action("Delete", new { id = item.ID })">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </td>
            </tr>
        }
    </table>


