﻿@model IEnumerable<Viesbutis.Models.RezervacijaPosisteme.RezervacijosLaikas>

@{
    ViewBag.Title = "Rezervacijos laikai";
}

<h2>Rezervacijos laikai</h2>

<p>
    <input type="button" class="btn btn-default" value="Nauja" onclick="@("window.location.href='" + @Url.Action("Create", "RezervacijosLaikas") + "'");" />
</p>
<table class="table">
    <tr>
        <th> Kambario ID </th>
        <th> Rezervuota nuo </th>
        <th> Rezervuota iki </th>
        <th> Laikas užimtas </th>
        <th class="center"> Informacija </th>
        <th class="center"> Redaguoti </th>
        <th class="center"> Ištrinti </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td> @Html.DisplayFor(modelItem => item.kambarysID) </td>
        <td> @Html.DisplayFor(modelItem => item.rezervuota_nuo) </td>
        <td> @Html.DisplayFor(modelItem => item.rezervuota_iki) </td>
        <td> @Html.DisplayFor(modelItem => item.uzimta) </td>
        <td class="center">
            <a href="@Url.Action("Details", new { id = item.ID })">
                <i class="glyphicon glyphicon-info-sign"></i>
            </a>
        </td>
        <td class="center">
            <a href="@Url.Action("Edit", new { id = item.ID })">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
        </td>
        <td class="center">
            <a href="@Url.Action("Delete", new { id = item.ID })">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </td>
    </tr>
}
</table>
